<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
<title th:text="#{title.application}">Motocykle</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="Shortcut icon" href="../../images/moto.ico" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>

<body>

  <header th:fragment="site-header">
    <center>
    <a href="index.html" th:href="@{/}"><img src="../../images/klaser.jpg" th:src="@{/images/klaser.jpg}"/> </a>
    </center>
    <BR> 
    <a href="klaser.html" th:href="@{/motocykle}"><button><b>Wszystkie motocykle</b></button></a>
    <a href="tosell.html" th:href="@{/tosell}"><button><b>Motocykle do sprzedania</b></button></a>
    <a href="dublety.html" th:href="@{/dublety}"><button><b>Motocykle używne</b></button></a>
    <a href="moneta.html" th:href="@{/motocykle/create}"><button><b>Dodaj motocykl</b></button></a> 
    <ul id="messages">
      <li th:each="msg : ${MyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
    </ul>
  </header>


  <footer th:fragment="site-footer"> 
  Michał Trzoński <a href="https://github.com/trzoniol/sternik-motocykle"> Source code</a>
  &copy; Sternik Klaser System, 2017 
  </footer>

</body>
</html>