<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout ::site-head">
<title>Motocykle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>

<body>
  <header th:replace="layout :: site-header" />
             
  <div>
 
    <form action="#" th:action="@{/motocykle}" th:object="${motocykl}" method="post">

      <fieldset>



        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        
        <div>
          <label for="numerKatalogowy"> <span th:text="#{klaser.numerKatalogowy}">numer</span>
          </label> <input type="text" th:field="*{numerKatalogowy}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="producent"> <span th:text="#{klaser.producent}">Producent</span>
          </label> <input type="text" th:field="*{producent}" th:errorclass="fieldError" />
        </div> 
        <div>
          <label for="model"> <span th:text="#{klaser.model}">Model</span>
          </label> <input type="text" th:field="*{model}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="dataProdukcji"> <span th:text="#{klaser.dataProdukcji}">Data produkcji</span> (<span
            th:text="#{date.format}">YYYY/MM/DD</span>)
          </label> <input type="text" th:field="*{dataProdukcji}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="cena"> <span th:text="#{klaser.cena}">cena</span>
          </label> <input type="text" th:field="*{cena}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="status"> <span th:text="#{klaser.status}">status</span></label>
            <select th:field="*{status}" th:errorclass="fieldError">
              <option th:each="st : ${statusyAll}" th:value="${st}" th:text="#{${'klaser.status.' + st}}">Nowy</option>
            </select>          
        </div>
        <div class="submit">          
            <button th:if="*{numerKatalogowy}" type="submit" name="save" th:value="*{numerKatalogowy}" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Zapisz</button>
         
         
            <button th:unless="*{numerKatalogowy}" type="submit" name="create" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Zapisz</button>            
            
            
            <a href="klaser.html" th:href="@{/motocykle}" ><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button></a>            
        </div>

      </fieldset>

    </form>

  </div>
  <footer th:replace="layout :: site-footer" />
</body>
</html>